@use '/styles/utils';

.calendar {
  display: grid;

  grid-template-columns: 10% auto 10%;
  grid-template-rows: 80px auto;

  height: 100vh;
}

.topPanel {
  grid-column: 1 / -1;

  @include utils.highlited(red);
}

.taskPanel {

  @include utils.highlited(red);
  &:hover {
    border-left-width: 100px;
  }
}

.eventPanel {

  @include utils.highlited(red);
}

.viewPanel {

  @include utils.highlited(red);
}
