:root {
  font-family: sans-serif;
  font-size: 16px;
  display: block;
}

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  border: none;

  color: black;
  background-color: white;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

ul, ol {
  padding-left: 20px;
}

@media screen {

}
